html, body {
    height: 100%;
    width: 100%;
}

body {
    background: url(images/footer_lodyas.png);
}

.redteam {
    width: 100%;
    height: 50%;
    background-color: #E30B25;
}

.blueteam {
    width: 100%;
    height: 50%;
    background-color: #3A0BE3;
}

.full-height {
    width: 100%;
    height: 100%;
}

.pad0 {padding: 0;}
.mar0 {margin:0;}

.centering {
    text-align: center;
}
.push {margin-bottom:-50px;}
.page {height: 100%;}
.center {text-align: center;}

.nowrap {
    white-space: nowrap;
}

.row-halte {
    height: 10%;
}
.row-team-color {
    height: 25%;

}
.row-team-color.team-blue {
    background-color: #3A0BE3;
    border-top: solid 3px #AB94FF;
    border-bottom: solid 3px #AB94FF;
}
.row-team-color.team-red {
    background-color: #E30B25;
    border-top: solid 3px #FF697B;
    border-bottom: solid 3px #FF697B;
}
.team-title {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Helvetica;
    font-size: 40px;
}
.team-title.team-title-blue {color: #DBD1FF;}
.team-title.team-title-red {color: #FFE0E4;}


.row-data-button {
    height: 60%;
}

.panel {
    text-align: center;
    margin: 10px;
    height: 100%;
    font-weight: bold;
}

.panel-danger, .panel-info {
    background-color: transparent;
    color: white;
}

#halte_id {color: white;}
#halte_naam_id {
    line-height: 20px;
    font-size: 20px;
    padding: 10px 15px;
    font-weight: 700;
}

#score_red_id, #score_blue_id {
    font-size: 20px;
    color: white;
    font-weight: 700;
}

.score_red h1 {
    color: #E30B25;
    font-size: 25px;
    font-weight: 700;
}
.score_blue h1 {
    color: #3A0BE3;
    font-size: 25px;
    font-weight: 700;
}

.glyphicon-arrow-right, .glyphicon-arrow-left {
    line-height: 45px;
    height: 45px;
    color: white;
}

.mar60b {margin-bottom: 60px !important;}
.mar20t {margin-top: 20px;}